body{
    overflow-x: hidden;
}

.edozzierContainer{
   background-image: linear-gradient(
    to left, 
    #f6f8ff,
    #e5e8fc 
   );
   
    padding-top: 200px;
   padding-bottom: 50px;
   padding-left: 40px;
    padding-right: 40px;
}
.edozHere{
    background-color: #d0d8fc;
}
a{
    text-decoration: none;
}
.blue{
    color: #33396f;
}
.button1{
    border-radius: 4px;
    padding: 0.8rem 1rem;
    background-color: #ffffff;
    color: #161356;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
}
.button1:hover{
    background-color: #d0d8fc;
}
.free{
    background-color: #0e0a47;
    border-radius: 4px;
    color: white;
    border: none;
}
.button2{
    background-color: #0e0a47;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
}
.button2:hover{
    background-color: #fe9a03;
}

.bigButton2{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 30px;
    border: none;
    border-radius: 5px;
    background-color: #0e0a47;
    color: white;
    font-size: 13px;
}
.bigButton1 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #33396f;
    font-size: 13px;
}
.bigButton1:hover{
    background-color: #0e0a47;
    color: white;
}


.edozzierContainer2{
    margin-top: 100px;
    background-color: #e5ebfb;
    padding-top: 130px;
   padding-bottom: 50px;
   padding-left: 40px;
    padding-right: 40px;
}

.links{
    margin-left: -40px;
   
}
.smart{
    font-family: "DM Sans", sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 44px;
    color: rgb(27, 22, 66)
}
.solution{
    font-family: "DM Sans", sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 44px;
    color: rgb(27, 22, 66)
}
.signUp{
    display: none;
}

@media only screen and (max-width: 475px) {
    .edozImg{
        justify-content: center;
        align-items: center;
        max-width: 50%;
    }
    .anime{
        display: none;
    }
    .edozHere{
        width: 100%;
    }
    .div1{
        margin-bottom: 35px;
    }
    .button1{
        margin-bottom: 20px;
    }
    .cards{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 992px) {
    .signUp{
        display: block;
    }
}

#navbarSupportedContent{
    margin-left: 100px;
}