body{
    overflow-x: hidden;
}

.edozzierContainer{
   background-image: linear-gradient(
    to left, 
    #f6f8ff,
    #e5e8fc 
   );
   
    padding-top: 200px;
   padding-bottom: 50px;
   padding-left: 40px;
    padding-right: 40px;
}
.edozHere{
    background-color: #d0d8fc;
}
.button1{
    border-radius: 4px;
    padding: 0.8rem 1rem;
    background-color: #ffffff;
    color: #161356;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
}
.button1:hover{
    background-color: #d0d8fc;
}
.button2{
    background-color: #0e0a47;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
}
.button2:hover{
    background-color: #fe9a03;
}

.bigButton2{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 30px;
    border: none;
    border-radius: 5px;
    background-color: #0e0a47;
    color: white;
}
.bigButton1 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.bigButton1:hover{
    background-color: #0e0a47;
    color: white;
}


.edozzierContainer2{
    margin-top: 100px;
    background-color: #e5ebfb;
    padding-top: 130px;
   padding-bottom: 50px;
   padding-left: 40px;
    padding-right: 40px;
}

.links{
    margin-left: -40px;
   
}

.signUp{
    display: none;
}

@media only screen and (max-width: 475px) {
    .edozImg{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        margin-left: 100px;
    }
    .anime{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .signUp{
        display: block;
    }
}

#navbarSupportedContent{
    margin-left: 100px;
}